
@font-face {
    font-family: georgia_font;
    src: local(georgia_font), url('../fonts/Georgia.ttf') format('truetype');
}

body {
	background-color: #FC9;
	font-family: georgia_font;
}
body.pictures {
	background-color: #000;
}

#text_content {
  padding-top: 52px;
  padding-bottom: 52px;  
  font-size: 20px;
  color: #721f19;
}
.enter_button {
	margin-left: auto;
	margin-right: auto;
	width: 175px;
	height: 47px;
	background: url('../images/pkisses_button-enter.png');
}
.enter_button_hover {
	background: url('../images/pkisses_button-enter_overlay.png');
}

.send_button {
	margin-left: auto;
	margin-right: auto;
	width: 174px;
	height: 47px;
	background: url('../images/pkisses_button-send.png');
}
.send_button_hover {
	background: url('../images/pkisses_button-send_overlay.png');
}


.fb_button {
	display: inline;
	float: right;
	width: 54px;
	height: 49px;
	background: url('../images/pkisses_button-facebook.png');	
}
.fb_button_hover {
	background: url('../images/pkisses_button-facebook_overlay.png');
}

.twitter_button {
	display: inline;
	float: right;
	width: 54px;
	height: 49px;
	margin-left: 10px;
	background: url('../images/pkisses_button-twitter.png');
}
.twitter_button_hover {
	background: url('../images/pkisses_button-twitter_overlay.png');
}
.arrow_right {
	width: 32px;
	height: 47px;
	background: url('../images/pkisses_button-arrow_right.png');
}
.arrow_right_hover {
	background: url('../images/pkisses_button-arrow_right_overlay.png');
}
.arrow_left {
	width: 32px;
	height: 47px;
	background: url('../images/pkisses_button-arrow_left.png');
}
.arrow_left_hover {
	background: url('../images/pkisses_button-arrow_left_overlay.png');
}

.gutter {
  margin: 0px;
  padding: 0px;
	z-index: 999;
	width: 32px;
	height: 47px;
	margin-top: 350px;
	position: relative;
}

.left_gutter {
	float: left;
}

.right_gutter {
	float: right;
}

.header_controls {
	margin-top: 20px;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}


.container {
	width: 1024px;
	height: 768px;
	margin-left:auto;
	margin-right: auto;
}

.page_scroll {
	position:relative;
	overflow:hidden;
	width: 1024px;
	height:800px;	
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.page_scroll div#pages {
	/* this cannot be too large */
	width:20000em;
	position:absolute;

}

div#pages .page  {
	width: 1024px;
	height: 768px;
	float:left;
	padding-top: 50px;
}

div#pages .pic  {
	width: 1024px;
	height: 768px;
	float:left;
}
